@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto";
}
body{
    background-color: #E5E5E5;  
    height: 670px ;
}
header{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-left: 10px;
    height: 80px;
    align-self: center;
}
.lista-nav{
    color: white;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    width: 300px;
}
.productos{
    display: flex;
    justify-content: space-around;
    height: 420px;
}
.box{
    height: 350px;
    width: 490px;
    margin-top: 35px;
    margin-left: 19px ;  
}
.promo{
    background-image: url("../img/delivery.jpg") ;
    color: red;
    font-size: 12px;
}
.envio-gratis{
    margin-top: 10px;
    margin-left: 20px;
}
.promo span{
    color: white ;
}
.podio-de-pizzas{
    background-color: #FFFFFF;
}
.titulo-podio-de-pizzas{
    color: red;
    margin-top: 26px;
    text-align: center;
}
.flex-podio-de-pizzas{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lista-podio-de-pizzas{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.lista-podio-de-pizzas ol {
    margin-bottom: 20px;
}
.lista-podio-de-pizzas h3{
    margin-bottom: 40px;
}
footer{
    background-color: #222222 ;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.lista-footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.home{
    order: -2;
}
.contacto{
    order: -1;
}
.ranking{
    order: 0;
}
.promocion{
    order: 1;
}
