.ofertas{
    background-color: black;
    display: block;
    font-size: 1rem;
    height: 20px;
    width: 100%;
}
.ofertas__flex{
    color: white;
    display: flex;
    justify-content: space-between;
}
.ofertas__flex--idioma{
    display: flex;
    gap: 1em;
    margin-right: 1em;
}
.header__mobile--logo{
    display: none;
}
.contenido{
    background-image: url(../img/contenidoDesktop.png);
    align-items: flex-end;
}
.contenido h1{
    font-size: 3rem;
    margin-right: 1em;
}
.contenido p{
    margin-right: 9em;
}
.contenido h2{
    margin-right: 11em;
}
.menu{
    display: block;
}
.menu ul{
    color: #FFFFFF;
    display: flex;
    font-weight: 400;
    gap: 4em;
}
.lista--menu :hover{
    color: black;
    text-decoration: line-through;
}
.productosDestacadosTitulo{
    display: flex;
    font-size: 4rem;
    gap: 0.4em;
    justify-content: center;
    margin-top: 0.4em;
}
.listaPD{
    font-size: 1.76rem;
    gap: 3.1rem;
    justify-content: center;
    padding-top: 2em;
}
.listaPD :hover{
    color: white;
    background-color: black;
    font-size: 1.9rem;
}
.newsletter{
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.tituloNewsletter img{
    display: none;
}
.tituloNewsletter p{
    padding-left: 1rem;
}
.correo p{
    margin-right: 1rem;
}
.correo h3{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
}
.logo--footer{
    align-self: flex-end;
    margin-right: 1rem;
    position: relative;
    top: 15rem;
}
.container-info__datos{
    justify-content: flex-start;
}