@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
} 
body{
    font-family: "Roboto";
}
.ofertas{
    display: none;
}
.header__mobile{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 6.40vh;
}
.header__mobile--logo{
    color: #FFFFFF;
}
.menu{
    display: none;
}
.contenido{
    align-items: center;
    background-image: url(../img/contenido.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    height: 440px;
    justify-content: center;
}
.contenido h1{
    background-color: #fff;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0.48em 1.5em;
}
.contenido p{
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 11em;
}
.contenido h2{
    background-color: #F0A83E;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0.9375em 1.4375em;
    text-transform: uppercase;
    margin-left: 15.75em;
}
.ecommerce{
    text-align: center;
    margin-top: 1em;
}
.productosDestacados img{
    height: 5.24em;
    width: 5.62em;
}
.productosDestacados h2{
    font-size: 30px;
}
.listaPD{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
    padding-bottom: 3em;
}
.contenedorTarjetas{
    display: flex;
    height: 100em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;;
}
.tarjeta{
    background-color:#FBFAF6;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
    height: 28.4rem;
    width: 24.2rem;
}
.precio{
    color: #F0A83E;
}

/* .formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20em;
}
.formulario h2{
    color: #3C2313;
    font-size: 4em;
}
.formulario p{
    background-color: #3C2313;
    border-radius: 1.5em;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 400;
    height: 4.44em;
    padding-top: 1.55em;
    padding-left: 0.64em;
    width: 33.11em;
} */
.contenedorBotones{
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}
.botones{
    border-radius: 1.5em;
    height: 2.5em;
    padding-left: 3.63em;
    padding-top: 0.8em;
    width: 11em;
}
/* .resetear{
    background-color: #8A8787;
    padding-left: 3.63em;
    padding-top: 0.8em;
}
.enviar{
    background-color:#F0A83E;
    padding-left: 4.4em;
    padding-top: 0.8em;
} */
.newsletter{
    background-color: #F0A83E;
    height: 101px;
}
.tituloNewsletter{
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    position: relative;
    height: 49px;
}
.tituloNewsletter img{
    height: 0.938em;
    position: absolute;
    top: 0.8em;
    left: 0.25em;
    width: 1.85em;
}
.correo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.correo p{
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 3.5em;
    padding-top: 0.93em;
    padding-left: 0.93em;
    width: 25em;
}
.correo h3{
    background-color: #3C2313;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    height: 2.33em;
    padding-top: 0.6em;
    padding-left: 0.6em;
    width: 6.66em;
}

.container-info{
    align-items: center;
    background-color: #3C2313;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 326px;
}

.container-info img{
    height: 18px;
    width: 134px;
}
.container-info__datos{
    color: #FFFFFF;
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    width: 100%;
}

.container-info__datos img{
    width: 41.31px;
    height: 47px;
}
.container-info__datos h4{
    font-size: 2.4rem;
}
.container-localidad{
    margin-left: 1.8rem;
    margin-right: 13.9rem;
}
.container-tel{
    margin-right: 2.3rem;
    margin-left: 1.8rem;
}
.container-mail{
    margin-right: 4rem;
    margin-left: 1.4rem;
}
.contenedor-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .2rem;
    margin-bottom: 2rem;
}
.form-size{
    height: 40px;
    width: 300px;
}
.pregunta{
    font-size: 1.6rem;
}
/* @media screen and (min-width:800px) {
    .header__mobile{
        display: none;
    }
    .menu{
        display: flex;
    }
} */